      <p class="eyebrow">Error 401</p>
      <img class="error" src="/images/401.jpg" alt="access denied illustration">
      <h1>Access Denied</h1>
      <p class="lead">You are signed in, but you do not have permission to view this page.</p>
      <a href="/">← Go back home</a>
