      <p class="eyebrow">Error 500</p>
      <img class="error" src="/images/500.png" alt="error photo">
      <h1>Something Went Wrong</h1>
      <p class="lead">Sorry, there was an error on our server. Please try again later.</p>
      <a href="/">← Go back home</a>
