<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title><%= title %> | Car Franchise</title>
<link rel="icon" href="/images/car.png" type="image/png" />
<link rel="stylesheet" href="/style/main.css" />
<link rel="stylesheet" href="/style/api_gallery.css" />
<link rel="stylesheet" href="/style/car_detail.css" />
<link rel="stylesheet" href="/style/header.css" />
<link rel="stylesheet" href="/style/footer.css" />
<link rel="stylesheet" href="/style/login.css" />
<link rel="stylesheet" href="/style/admin.css?v=6" />
<% if (typeof extraStyles !== 'undefined' && Array.isArray(extraStyles)) { %>
	<% extraStyles.forEach((href) => { %>
		<link rel="stylesheet" href="<%= href %>" />
	<% }) %>
<% } %>
