<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title><%= title %> | Car Franchise</title>
<link rel="stylesheet" href="/main.css" />
<link rel="stylesheet" href="/api_gallery.css" />
<link rel="stylesheet" href="/car_detail.css" />
<link rel="stylesheet" href="/header.css" />
<link rel="stylesheet" href="/footer.css" />
<link rel="stylesheet" href="/login.css" />
